.tableOfContentsInline ul {
  list-style-type: disc !important;
  font-size: initial !important;
  padding-top: 0 !important;
}

.tableOfContentsInline > ul > li > a {
  text-decoration: none !important;
  color: inherit !important;
}

.tableOfContentsInline ul ul {
  list-style-type: circle !important;
  font-size: initial !important;
  padding-top: 0 !important;
}
